:root {
  --primary-color: #008270;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.alphabet-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.alphabet__item {
  margin-bottom: 10px;
}

.letter {
  border-bottom: 1px solid black;

  &__heading {
    padding-left: 20px;
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__name {
    margin-right: 10px;
  }

  &__count {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    color: white;
    width: 2em;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
  }

  &__contacts-list {
    list-style-type: none;
    padding: 0;
  }

  &__contacts-item {
    margin-bottom: 30px;
  }
}

.contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
  }

  &__delete-button {
    border: none;
    width: 20px;
    cursor: pointer;
    font-size: 20px;
    color: red;
    transition-property: background, color;
    transition-duration: 0.2s;

    &:hover {
      color: white;
      background-color: red;
    }
  }
}

.contact-form {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contact-input {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  width: 50%;
}

.contact-form-actions {
  display: flex;
  gap: 30px;
}

.button {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 15px;
  transition: 0.2s;
  transition-property: background;
}

.button:hover {
  background-color: white;
  color: var(--primary-color);
}

.modal {
  &__overlay {
    position: absolute;
    inset: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: 2;
  }
}
